:root {
    --font-family-segoe: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-family-arial: Arial, Helvetica, sans-serif;

    --padding-box-top: 70px;
    --box-1-width: 60%;
    --box-2-width: 40%;
}

.theme-light {
    --bg: #e1e1e1;
    --filter: #f2f2f2;
    --settings-button: #d3d3d3;
    --settings-button-hover: #c7c7c7;
    --settings-button-text: #333333;
    --settings-options: #f2f2f2;
    --list-sizes-item: #d3d3d3;
    --list-sizes-item-hover: #e1e1e1;
    --note-inner-default: #f2f2f2;
    --colors-bg: #585858;
    --box-clock-add-button: #03dac6;
    --box-clock-add-button-hover: #00c0ad;
    --box-clock-cities: #f2f2f2;
    --box-clock-cities-hover: #d3d3d3;
    --clock-hand-seconds: #cf6679;
    --clock-bg: #f2f2f2;
    --clock-border-out: #585858;
    --clock-border-in: #f2f2f2;
    --remove-clock: #585858;
    --note-add-button: #cf6679;
    --note-add-button-hover: #b15061;
    --icon-button: rgba(0, 0, 0, .3);
    --icon-button-hover: rgba(0, 0, 0, .5);
    --icon-button-text: #ffffff;
    --icon-button-text-hover: #cf6679;
    --list-themes-boder: rgba(0, 0, 0, .4);

    --note-add-button-text: #ffffff;
    
    --text0-color: #000000;
    --text1-color: #333333;
    --text2-color: #585858;
}
.theme-dark {
    --bg: #121212;
    --filter: #333333;
    --settings-button: #242424;
    --settings-button-hover: #333333;
    --settings-button-text: #e1e1e1;
    --settings-options: #333333;
    --list-sizes-item: #242424;
    --list-sizes-item-hover: #121212;
    --note-inner-default: #333333;
    --colors-bg: #a4a4a4;
    --box-clock-add-button: #03dac6;
    --box-clock-add-button-hover: #00c0ad;
    --box-clock-cities: #333333;
    --box-clock-cities-hover: #242424;
    --clock-hand-seconds: #cf6679;
    --clock-bg: #333333;
    --clock-border-out: #333333;
    --clock-border-in: #a4a4a4;
    --remove-clock: #ffffff;
    --note-add-button: #cf6679;
    --note-add-button-hover: #b15061;
    --icon-button: rgba(0, 0, 0, .4);
    --icon-button-hover: rgba(0, 0, 0, .6);
    --icon-button-text: #d3d3d3;
    --icon-button-text-hover: #cf6679;
    --list-themes-boder: rgba(0, 0, 0, .4);

    --note-add-button-text: #ffffff;
    
    --text0-color: #ffffff;
    --text1-color: #e1e1e1;
    --text2-color: #a4a4a4;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 1rem;
    font-family: var(--font-family-segoe);
}

button {
    font-family: inherit;
    cursor: pointer;
}
button:focus,
button:active {
    outline: none;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    align-content: flex-start;
    position: relative;
    color: var(--text1-color);
    background-color: var(--bg);
}
.box-0 {
    position: absolute;
    width: 100%;
    z-index: 300;
    display: flex;
    justify-content: space-between;
}
.box-1 {
    flex: 0 0 var(--box-1-width);
}
.box-2 {
    flex: 0 0 var(--box-2-width);
}
.sizes60x40 {
    --box-1-width: 60%;
    --box-2-width: 40%;
}
.sizes40x60 {
    --box-1-width: 40%;
    --box-2-width: 60%;
}
.sizes50x50 {
    --box-1-width: 50%;
    --box-2-width: 50%;
}

.box-clock {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    min-height: 100vh;
    padding-top: var(--padding-box-top);
}

.box-circles {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.box-circle {
    position: relative;
}
.circle {
    width: 200px;
    height: 200px;
    /* background-color: #fff; */
    background-color: var(--clock-bg);
    border-radius: 50%;
    position: relative;
    /* border: .35rem solid #000; */
    border: .35rem solid var(--clock-border-out);
    margin: 20px;
    margin-bottom: 5px;
}
.circle::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* border: .35rem solid #fff; */
    border: .35rem solid var(--clock-border-in);
    box-shadow: inset 0 0 2rem rgba(0, 0, 0, .5);
}
.circle::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
    background-color: var(--clock-hand-seconds);
    border-radius: 50%;
    z-index: 11;
}
.hand {
    position: absolute;
    bottom: 50%;
    transform-origin: bottom center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 10;
}
.hours {
    left: 48.5%;
    width: 3%;
    height: 25%;
    background-color: #034EB9;
}
.minuts {
    left: 49%;
    width: 2%;
    height: 35%;
    background-color: #4383DE;
}
.seconds {
    left: 49.5%;
    width: 1%;
    height: 40%;
    background-color: var(--clock-hand-seconds);
}
.indicator {
    --deg: 0deg;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(var(--deg));
    width: 1%;
    height: 90%;
    border-top: .60rem solid #000;
    border-bottom: .60rem solid #000;
    z-index: 1;
}
.indicator.indicator1 { --deg: 0deg; }
.indicator.indicator2 { --deg: 30deg; }
.indicator.indicator3 { --deg: 60deg; }
.indicator.indicator4 { --deg: 90deg; }
.indicator.indicator5 { --deg: 120deg; }
.indicator.indicator6 { --deg: 150deg; }

.remove-clock {
    position: absolute;
    top: 20px;
    right: 20px;
    visibility: hidden;
    opacity: .5;
    font-size: 1.5rem;
    color: var(--remove-clock);
    transition: opacity .1s;
}
.box-circle:hover .remove-clock {
    visibility: visible;
}
.remove-clock::after {
    content: '\2716';
    cursor: pointer;
}
.remove-clock:hover {
    opacity: 1;
}

.city {
    color: var(--text2-color);
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.box-clock-add {
    text-align: right;
    position: relative;
}
.box-clock-cities {
    position: absolute;
    bottom: 100%;
    right: 20px;
    background: var(--box-clock-cities);
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    color: var(--text1-color);
    list-style: none;
    font-size: 1.2rem;
    z-index: 200;
}
.box-clock-cities li {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 3px 8px 5px;
    border-radius: 6px;
}
.box-clock-cities li:hover {
    background: var(--box-clock-cities-hover);
}
.box-clock-cities li .timezone {
    margin-left: 20px;
}
.box-clock-add button {
    background: var(--box-clock-add-button);
    border: none;
    margin: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.2rem;
    color: #000;
    cursor: pointer;
    transition: .1s;
}
.box-clock-add button:hover {
    background: var(--box-clock-add-button-hover);
}
.box-clock-add button:focus,
.box-clock-add button:active {
    outline: none;
}

.box-notes-list {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-top: var(--padding-box-top);
}
.note {
    flex: 1 0 50%;
    padding: 5px;
}
.note.long {
    flex: 1 0 100%;
}
.note-inner {
    height: 100%;
    background: cornflowerblue;
    padding: 10px;
    border-radius: 8px;
    color: var(--text1-color);
}
.note-inner.default {background: var(--note-inner-default);}
.note-inner.green {background: rgba(46, 225, 90, .5);}
.note-inner.red {background: rgba(225, 46, 46, .5);}
.note-inner.blue {background: rgba(55, 166, 234, .5);}
.note-head {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.note-title {
    flex-grow: 1;
    padding: 0 10px;
}
.note-flag button {
    background: none;
    border: none;
    color: var(--text1-color);
    font-size: 1rem;
}
.note-title-options {
    display: flex;
    position: relative;
}
.note-remove > button {
    background: var(--icon-button);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--icon-button-text);
    margin-left: 5px;
    transition: 0.1s;
}
.note-remove > button:hover {
    color: var(--icon-button-text-hover);
    background: var(--icon-button-hover);
}
.note-text {
    white-space: pre-wrap;
}

.color-list {
    position: relative;
}
.color-list > button {
    background: var(--icon-button);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--icon-button-text);
    transition: 0.1s;
}
.color-list > button:hover {
    color: var(--icon-button-text-hover);
    background: var(--icon-button-hover);
}
.colors {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    background: var(--colors-bg);
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    z-index: 400;
}
.colors > div {
    flex: 0 0 33%;
    height: 30px;
    padding: 3px;
}
.colors .color {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    cursor: pointer;
}
.colors .color:hover {
    border: 3px solid rgba(0, 0, 0, .2);
}
.colors .default {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .75rem;
    color: #444;
}
.colors .default {background: white;}
.colors .green {background: rgba(46, 225, 90, 1);}
.colors .red {background: rgba(225, 46, 46, 1);}
.colors .blue {background: rgba(55, 166, 234, 1);}

.options {
    flex: 0 0 var(--box-1-width);
    display: flex;
    padding: 5px;
}
@media (max-width: 768px) {
    .options {
        flex-grow: 1;
    }
    .box-1,
    .box-2 {
        flex-grow: 1;
    }
}

.note-add {
    padding-right: 10px;
}
.note-add > button {
    background: var(--note-add-button);
    border: none;
    color: var(--note-add-button-text);
    height: 100%;
    padding: 0 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    transition: .1s;
}
.note-add > button:hover {
    background: var(--note-add-button-hover);
}
.box-notes-add {
    position: fixed;
    left: 10%;
    bottom: 20px;
    width: 80%;
    max-width: 600px;
    background: #000;
    border-radius: 15px;
    padding: 10px;
    z-index: 300;
}
.box-notes-add input,
.box-notes-add textarea {
    display: block;
    width: 100%;
    background: #333;
    border: none;
    border: 2px solid transparent;
    color: var(--text1-color);
    border-radius: 6px;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    margin-bottom: 10px;
}
.box-notes-add input::placeholder,
.box-notes-add textarea::placeholder {
    color: var(--text2-color);
    opacity: 1;
}
.box-notes-add textarea {
    resize: none;
    height: 200px;
}
.box-notes-add input:focus,
.box-notes-add textarea:focus {
    outline: none;
    border: 2px solid #a4a4a4;
}
.note-add-form-button button {
    background: var(--note-add-button);
    border: none;
    color: var(--note-add-button-text);
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    transition: .1s;
}
.note-add-form-button button:hover {
    background: var(--note-add-button-hover);
}

.note-filter {
    display: flex;
    align-items: center;
    flex-grow: 1;
    background: var(--filter);
    padding: 5px;
    border-radius: 5px;
}
.note-filter-search {
    flex-grow: 1;
}
.note-filter-search .note-filter-input {
    width: 100%;
    background: none;
    border: none;
    color: var(--text1-color);
    padding: 5px 5px;
}
.note-filter-search .note-filter-input:focus {
    outline: none;
}
.note-filter-search .note-filter-input::placeholder {
    color: var(--text2-color);
    opacity: 1;
}
.note-filter-flag > button {
    background: var(--icon-button);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--icon-button-text);
    margin-right: 5px;
    transition: 0.1s;
}
.note-filter-flag > button:hover {
    color: var(--icon-button-text-hover);
    background: var(--icon-button-hover);
}

.settings {
    padding: 5px;
}
.settings .settings-inner {
    height: 100%;
    position: relative;
}
.settings button {
    background: var(--settings-button);
    border: none;
    color: var(--settings-button-text);
    height: 100%;
    padding: 0 15px;
    border-radius: 5px;
    transition: .1s;
}
.settings button:hover {
    background: var(--settings-button-hover);
}
.settings .settings-options {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 10px;
    width: 160px;
    background: var(--settings-options);
    border-radius: 10px;
    padding: 10px;
    color: var(--text1-color);
    z-index: 500;
}

.list-themes {
    display: flex;
}
.list-themes > div {
    height: 20px;
    flex-grow: 1;
    cursor: pointer;
    border: 2px solid transparent;
}
.list-themes > div:hover {
    border: 2px solid var(--list-themes-boder);
}
.list-themes div:first-child {
    border-radius: 5px 0 0 5px;
}
.list-themes div:last-child {
    border-radius: 0 5px 5px 0;
}
.list-themes .theme-light-item {
    background: #fff;
}
.list-themes .theme-dark-item {
    background: #000;
}

.list-sizes {
    margin-top: 15px;
}
.list-sizes > div {
    text-align: center;
    padding: 5px;
    cursor: pointer;
    background: var(--list-sizes-item);
}
.list-sizes > div:hover {
    background: var(--list-sizes-item-hover);
}
.list-sizes div:first-child {
    border-radius: 5px 5px 0 0;
}
.list-sizes div:last-child {
    border-radius: 0 0 5px 5px;
}