:root {
    --bg1-color: #121212;
    --bg2-color: #1d1d1d;
    --bg3-color: #2d2d2d;
    --text1-color: #e1e1e1;
    --text2-color: #a4a4a4;
    --accent1-color: #03dac6;
    --accent2-color: #cf6679;
    --font-family-segoe: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-family-arial: Arial, Helvetica, sans-serif;
}

.theme-dark {
    --bg0-color: #000000;
    --bg1-color: #121212;
    --bg2-color: #1d1d1d;
    --bg3-color: #2d2d2d;
    --text0-color: #ffffff;
    --text1-color: #e1e1e1;
    --text2-color: #a4a4a4;
    --accent1-color: #03dac6;
    --accent2-color: #cf6679;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 1rem;
    font-family: var(--font-family-segoe);
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    align-content: flex-start;
    position: relative;
    color: var(--text1-color);
    background-color: var(--bg1-color);
}
.box-0 {
    position: absolute;
    width: 100%;
    z-index: 300;
    display: flex;
}
.box-1 {
    flex: 0 0 60%;
}
.box-2 {
    flex: 0 0 40%;
}

.box-clock {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    min-height: 100vh;
    padding-top: 25px;
}

.box-circles {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.box-circle {
    position: relative;
}
.circle {
    width: 200px;
    height: 200px;
    /* background-color: #fff; */
    background-color: var(--bg3-color);
    border-radius: 50%;
    position: relative;
    /* border: .35rem solid #000; */
    border: .35rem solid var(--bg3-color);
    margin: 20px;
    margin-bottom: 5px;
}
.circle::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* border: .35rem solid #fff; */
    border: .35rem solid var(--text2-color);
    box-shadow: inset 0 0 2rem rgba(0, 0, 0, .5);
}
.circle::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
    background-color: #DE6D43;
    border-radius: 50%;
    z-index: 11;
}
.hand {
    position: absolute;
    bottom: 50%;
    transform-origin: bottom center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 10;
}
.hours {
    left: 48.5%;
    width: 3%;
    height: 25%;
    background-color: #034EB9;
}
.minuts {
    left: 49%;
    width: 2%;
    height: 35%;
    background-color: #4383DE;
}
.seconds {
    left: 49.5%;
    width: 1%;
    height: 40%;
    background-color: #DE6D43;
}
.indicator {
    --deg: 0deg;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(var(--deg));
    width: 1%;
    height: 90%;
    border-top: .60rem solid #000;
    border-bottom: .60rem solid #000;
    z-index: 1;
}
.indicator.indicator1 { --deg: 0deg; }
.indicator.indicator2 { --deg: 30deg; }
.indicator.indicator3 { --deg: 60deg; }
.indicator.indicator4 { --deg: 90deg; }
.indicator.indicator5 { --deg: 120deg; }
.indicator.indicator6 { --deg: 150deg; }

.remove-clock {
    position: absolute;
    top: 20px;
    right: 20px;
    visibility: hidden;
    opacity: .5;
    font-size: 1.5rem;
    color:#fff;
    transition: opacity .1s;
}
.box-circle:hover .remove-clock {
    visibility: visible;
}
.remove-clock::after {
    content: '\2716';
    cursor: pointer;
}
.remove-clock:hover {
    opacity: 1;
}

.city {
    color: var(--text2-color);
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.box-clock-add {
    text-align: right;
    position: relative;
}
.box-clock-cities {
    position: absolute;
    bottom: 100%;
    right: 20px;
    background: var(--bg3-color);
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    color: var(--text1-color);
    list-style: none;
    font-size: 1.2rem;
    z-index: 200;
}
.box-clock-cities li {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 3px 8px 5px;
    border-radius: 6px;
}
.box-clock-cities li:hover {
    background: var(--bg2-color);
}
.box-clock-cities li .timezone {
    margin-left: 20px;
}
.box-clock-add button {
    background: var(--accent1-color);
    border: none;
    margin: 20px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.8rem;
    color: #000;
    cursor: pointer;
    font-family: var(--font-family-arial);
}
.box-clock-add button:focus,
.box-clock-add button:active {
    outline: none;
}

.box-notes-list {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-top: 25px;
}
.note {
    flex: 1 0 50%;
    padding: 5px;
}
.note.long {
    flex: 1 0 100%;
}
.note-inner {
    height: 100%;
    background: cornflowerblue;
    padding: 10px;
    border-radius: 8px;
    color: var(--text1-color);
}
.note-inner.default {background: var(--bg3-color);}
.note-inner.green {background: green;}
.note-inner.red {background: red;}
.note-inner.blue {background: blue;}
.note-head {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.note-title {
    flex-grow: 1;
    padding: 0 10px;
}
.flag {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}
.flag-true {
    background: #000;
}
.note-title-options {
    display: flex;
    position: relative;
}
.colors {
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    background:gray;
    padding: 5px;
    width: 55px;
}
.colors > div {
    flex: 0 0 33%;
    height: 15px;
}
.colors .color {
    width: 100%;
    height: 100%;
}
.colors .default {background: white;}
.colors .green {background: green;}
.colors .red {background: red;}
.colors .blue {background: blue;}

.box-notes-add {
    position: fixed;
    left: 10%;
    bottom: 10px;
    transform: translateX(-0%);
    width: 80%;
    max-width: 600px;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    z-index: 300;
}
.box-notes-add input,
.box-notes-add textarea {
    display: block;
    width: 100%;
    border: 1px solid #777;
    border-radius: 4px;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    margin-bottom: 10px;
}
.box-notes-add textarea {
    resize: none;
    height: 200px;
}
.box-notes-add input:focus,
.box-notes-add textarea:focus {
    outline: none;
}